<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/cdvanhorn/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="cdvanhorn" />
            <add key="ClearTextPassword" value="2439326dc0b5ad84bf4c968d25d6cb11382b4e81" />
        </github>
    </packageSourceCredentials>
</configuration>
